:root {
  --primar-color: #93deff;
  --bg-color: #1a1a1a1a;
  --second-color: #616571;
  --whitw-color: white;
}

* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #1a1a1a;
  height: 100vh;
}

/* navigasi style */
nav {
  color: var(--primar-color);
  background-color: #1a1a1a;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.logo a {
  margin-left: 30px;
  color: var(--whitw-color);
  text-decoration: none;
}

div.logo h1 span {
  color: var(--primar-color);
}

div.logo a:hover {
  cursor: pointer;
  text-decoration: underline var(--primar-color);
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 50%;
  margin-right: 30px;
}

nav ul li a {
  font-family: sans-serif;
  text-decoration: none;
  font-size: 0.9em;
  color: var(--primar-color);
  transition: 1s;
}

nav ul li a:hover {
  color: var(--whitw-color);
  text-decoration: overline underline var(--primar-color);
}

/* hamburger menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -5px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: flex;
  width: 28px;
  height: 3px;
  background-color: var(--whitw-color);
  border-radius: 3px;
  transition: all 0.6s;
  margin-right: 30px;
}

/* hamburger menu animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0px);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
}
/* navigasi end */

/* style content start */
div.header {
  min-height: 100vh;
  background-image: url(../image/micro_carbon.png);
  color: white;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  border-bottom: 10px solid #616571;
}

div.header img {
  width: 400px;
}

div.title {
  color: var(--whitw-color);
  font-weight: 300;
  font-size: 1.5rem;
  height: 250px;
  display: flex;
  flex-direction: column;
  cursor: context-menu;
}

div.title h1 {
  color: var(--primar-color);
}

div.title p span {
  color: var(--primar-color);
  font-weight: 600;
}

div.btn a button {
  width: 80%;
  height: 30px;
  margin-top: 15px;
  background-color: #616571;
  color: var(--primar-color);
  border-radius: 15px;
}

div.btn a:hover button {
  color: var(--whitw-color);
  cursor: pointer;
}

/* Tentang saya */

div.judul {
  color: var(--whitw-color);
  height: 120px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

div.judul h1 span {
  color: var(--primar-color);
}

div.tentang {
  display: flex;
  justify-content: space-around;
  margin-top: 110px;
  color: var(--whitw-color);
  width: 100%;
  height: 70%;
  border-bottom: 10px solid #616571;
}

div.tentang img {
  width: 300px;
  border: 5px solid var(--primar-color);
  border-radius: 10%;
}

div.title_tentang {
  width: 50%;
  font-size: 1.2rem;
}

div.title_tentang span {
  color: var(--primar-color);
  font-size: 1.4rem;
  font-weight: bold;
}

/* skill */

section.skill {
  height: 100vh;
}

section.skill h1 {
  text-align: center;
  padding-bottom: 100px;
  margin-top: 50px;
  color: var(--whitw-color);
}

div.container_card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

div.skill_card {
  width: 100%;
  height: 50px;
}

div.skill-card a {
  text-decoration: none;
}

div.skill-card a img {
  background-color: var(--second-color);
  padding: 20px;
  border-radius: 5%;
  width: 200px;
}

div.skill-card a .card_title {
  background-color: var(--second-color);
  height: 40px;
  color: var(--primar-color);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2rem;
  align-items: center;
  text-align: center;
  border-radius: 20px;
}

/* responsive */

/* tablet */
@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }

  nav ul li a {
    font-size: 0.6em;
    font-weight: 600;
  }

  div.header img {
    width: 250px;
  }

  div.title {
    font-size: 1.2rem;
  }

  div.tentang {
  }
}

/* mobile */
@media screen and (max-width: 576px) {
  .menu-toggle {
    display: flex;
  }

  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
    font-size: 1.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    z-index: 1;
    background-color: var(--bg-color);
    transform: translateX(100%);
    transition: all 1.3s;
    opacity: 1;
    margin-right: 0;
  }

  nav ul.slide {
    transform: translateX(0);
    opacity: 1;
  }

  div.header {
    flex-direction: column;
  }

  div.header img {
    width: 250px;
    margin-top: 75px;
  }

  div.title {
    font-size: 1rem;
    justify-content: center;
    text-align: center;
    gap: 0.2em;
  }
}
